#group-page-container {
    margin: 8px;
}

#group-my-schedule-card .card-content {
    min-height: 600px;
}

#group-my-schedule-card .weekview-table {
    height: 600px;
}

#group-schedules {
    padding-top: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

@media only screen and (max-width: 1200px) {
    #group-schedules {
        grid-template-columns: repeat(1, 1fr);
    }
}

#group-schedules .weekview-table {
    width: 100%;
    min-height: 600px;
}