body {
    margin: 0;
    font-family: sans-serif;
    background-color: #e2e3e3;
    line-height: 1;
}

html, body, #root, #app {
    height: 100%;
}

.button {
    border: 1px solid #e5e5e5;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    padding: 5px 8px;
    font-size: 13px;
}

.button.large {
    padding: 5px 8px;
    font-size: 15px;
}

.button.green {
    background-color: #014634 !important;
    color: white !important;
}

.button.gray {
    background-color: #eff0f1;
    color: black;
}
