.weekview-table {
    border: 1px solid #cccccc;
    border-collapse: separate;
    border-spacing: 0;
    width: 715px; /* 55%; */
    height: 100%;
    table-layout: fixed;
}

.weekview-table td span {
    display:block;
    position: relative;
    height: 100%;
}

.weekview-table td div {
    overflow: hidden;
    font-size: 12px;
    /*position: absolute;
    width: 100%;
    top: 0;*/
}

.weekview-table td b {
    font-size: 14px;
}

.weekview-table tr {
    /* height: 16px; */ /* 8px; */
}

.weekview-table tr td:first-child {
    /* width: 50px; */
    border-width: 1px 1px 0 0;
}

.weekview-table tbody tr:first-child td:first-child {
    border-top: 0;
}

.weekview-table tr th:first-child {
    /* width: 50px; */
    border-width: 0 1px 1px 0;
}

.weekview-table thead th:nth-child(2) {
    border-left: 0;
}

.weekview-cell-label {
    border: 1px solid #cccccc;
    background-color: #fff;
}

.weekview-cell-hidden {
    display: none;
}

.weekview-table th:not(:first-child) {
    /* width: 100px; */
    border-width: 0 0 1px 1px;
}

.weekview-table td:not(:first-child) {
    /* width: 101px; */
    /* border-width: 0 0 1px 1px; */
}

.weekview-table tr:nth-child(8n-7),
.weekview-table tbody tr:nth-child(8n-6),
.weekview-table tbody tr:nth-child(8n-5),
.weekview-table tbody tr:nth-child(8n-4) {
    background-color: #f5f5f5;
}

.weekview-table tbody tr:nth-child(8n-3),
.weekview-table tbody tr:nth-child(8n-2),
.weekview-table tbody tr:nth-child(8n-1),
.weekview-table tbody tr:nth-child(8n) {
    background-color: #e5e5e5;
}

.weekview-title {
    height: 19px;
    background-color: #014634 !important;
    color: #fff !important;
}
.weekview-title td {
    padding: 4px;
}
